.conteiner {
    margin: auto 40px;
}


.title {
    margin-bottom: 30px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    color: #ddb224;
}

.strong-text {
    color: black;
    font-size: 1.4rem;
}

.conteiner img {
    width: 300px;
    margin-bottom: 30px;
}