
.nav-list {
  font-size: 1.3rem;
  padding-left: 200px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 900;
}

.nav-item {
  padding-left: 20px;
  padding-top: 15px;
  
}


.location-icon {
  text-align: center;
  align-items: center;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.nav-link::after,
.dropdown-item::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: #ddb224;
  transition: width 0.3s;
}

.nav-link:hover::after,
.dropdown-item:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.location-icon {
  text-decoration: none;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-image: url("/public/materijal/tapet.jpg");
  background-size: auto;
}

.dropdown-menu {
  font-size: 1.5rem;
}

