

.card {
  width: 18rem;
  border: none;
  align-items: center;
  margin-top: 70px;
  z-index: 0;
}

.card img {
  border-radius: 50%;
  width: 15rem;
  border: solid 4px #00FFCB;
}
.card img:hover {
  transition-duration: 0.5s;
  border-radius: 0%;
}

.icons {
  margin-bottom: 20px;
  text-align: center;
}

.card-title {
  color: #00FFCB;
}