

.card {
  width: 23rem;
  border: none;
  align-items: center;
  margin-top: 70px;
  z-index: 0;
}

.card-size {
  width: 16rem;
  overflow: hidden;
}
.card img {
  border-radius: 50%;
  width: 16rem;
  height: auto;
  border: solid 4px #ddb224;
}
.card img:hover {
  transition-duration: 0.5s;
  border-radius: 0%;
}

.icons {
  margin-bottom: 20px;
  text-align: center;
}

.card-title {
  color: #ddb224;
  font-size: 1.4rem;
  font-weight: 600;
}