body {
    font-size: 1.3rem;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 900;
    color: rgb(73, 72, 72);
}

h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 900;
    color: rgb(73, 72, 72);
}